Repository blueStragglr/wanted-pre-onboarding-3-FE-quest, changes with the labels that .github/labeler.yml gives for each.
All labels: workflow, ci, style, test: e2e, test: unit, docs

.github/labeler.yml:

workflow:
  - .github/workflows/*

ci:
  - .github/workflows/ci.yml

style:
  - src/styles/*
  - src/styles/**/*

'test: e2e':
  - cypress/e2e/*
  - cypress/e2e/**/*

'test: unit':
  - src/**/*.test.{js,jsx,ts,tsx}
  - src/test/*
  - src/test/**/*

docs:
  - '*.md'
  - '**/*.md'

✨ feat(custom): create page and setup react-router-dom
  src/components/atoms/Header/index.tsx
  src/components/atoms/Layout/AuthLayout.tsx
  src/components/atoms/Layout/index.tsx
  src/components/atoms/Sidebar/index.tsx
  src/components/organisms/.gitkeep
  src/components/pages/.gitkeep
  src/constants/.gitkeep
  src/hooks/.gitkeep
  src/main.tsx
  src/pages/auth/index.tsx
  src/pages/auth/join.tsx
  src/pages/auth/login.tsx
  src/pages/community/index.tsx
  src/pages/error-page.tsx
  src/pages/home.tsx
  src/routes/index.tsx
  src/store/.gitkeep
  src/styles/index.css
  src/types/.gitkeep
  src/utils/.gitkeep
  src/vite-env.d.ts
Labels: style

Faet: 기능구현
  package-lock.json
  package.json
  public/logo192.png
  public/logo512.png
  public/manifest.json
  public/robots.txt
  src/App.css
  src/App.js
  src/App.test.js
  src/Layout.jsx
  src/components/Header.jsx
  src/components/Sidebar.jsx
  src/index.css
  src/index.js
  src/logo.svg
  src/pages/Login.jsx
  src/pages/Main.jsx
  src/pages/Page1.jsx
  src/pages/Page2.jsx
  src/pages/Page3.jsx
  src/pages/Page4.jsx
  src/pages/Page5.jsx
  src/reportWebVitals.js
  src/router.js
  src/setupTests.js
  src/styles/GlobalStyle.jsx
Labels: style, test: unit

🔨 refactor(config): cz-config 수정
  .cz-config.js
  commitlint.config.js
  package.json
Labels: none

✨ feat(custom): create route constant
  src/constants/.gitkeep
  src/constants/index.ts
Labels: none

✨ feat(component): create protect route
  src/components/ProtectRoute/index.tsx
  src/components/atoms/Sidebar/index.tsx
  src/hooks/.gitkeep
  src/hooks/useAuth.ts
  src/pages/home.tsx
  src/routes/index.tsx
Labels: none

✨ feat(component): mui ui 적용
  package.json
  src/components/atoms/Header/index.tsx
  src/components/atoms/Layout/index.tsx
  src/components/atoms/Sidebar/Menu.tsx
  src/components/atoms/Sidebar/index.tsx
  src/constants/index.ts
  src/main.tsx
  src/store/drowerState.ts
  src/styles/muiStyles.ts
  yarn.lock
Labels: style

✨ feat(package): 로티 설치
  src/constants/loginAnimation.json
  src/constants/notFound.json
  src/pages/error-page.tsx
  yarn.lock
Labels: none

✨ feat(component): 로그인 페이지 UI 개발
  package.json
  src/components/ProtectRoute/index.tsx
  src/components/atoms/Layout/AuthLayout.tsx
  src/components/organisms/Form/LoginForm.tsx
  src/pages/auth/index.tsx
  src/pages/auth/login.tsx
  src/routes/index.tsx
  src/store/drowerState.ts
Labels: none

page a page b page c layout compleate
  app/package-lock.json
  app/package.json
  app/src/App.tsx
  app/src/components/common/Header.tsx
  app/src/components/common/Layout.tsx
  app/src/components/common/SideMenu.tsx
  app/src/index.css
  app/src/pages/PageA.tsx
  app/src/pages/PageB.tsx
  app/src/pages/PageC.tsx
Labels: none

console log 제거
  app/src/components/common/SideMenu.tsx
Labels: none

프리온보딩 준비
  .gitignore
  package.json
  public/favicon.ico
  public/index.html
  public/logo192.png
  public/logo512.png
  public/manifest.json
  public/robots.txt
  src/App.js
  src/App.test.js
  src/components/Header.js
  src/components/SideBar.js
  src/index.js
  src/pages/PageA.js
  src/pages/PageB.js
  src/pages/PageC.js
  src/reportWebVitals.js
  src/setupTests.js
  yarn.lock
Labels: test: unit

Project Setting
  .gitignore
  README.md
  index.html
  package.json
  public/vite.svg
  sample.jpg
  src/App.css
  src/App.tsx
  src/assets/react.svg
  src/index.css
  src/main.tsx
  src/vite-env.d.ts
  tsconfig.json
  tsconfig.node.json
  vite.config.ts
  yarn.lock
Labels: docs

Feat: Sidebar 현재 페이지 표시
  src/components/Layout.jsx
  src/components/Sidebar.jsx
  src/pages/Login.jsx
  src/router.js
Labels: none

setting
  .eslintcache
  .eslintignore
  .eslintrc
  .gitignore
  .husky/pre-commit
  .husky/pre-push
  .prettierrc
  index.html
  package-lock.json
  package.json
  public/vite.svg
  src/App.tsx
  src/main.tsx
  src/vite-env.d.ts
  tsconfig.json
  tsconfig.node.json
  vite.config.ts
Labels: none

숙제완료 및 추가숙제 로그인화면 추가
  src/App.js
  src/components/Header.js
  src/components/SideBar.js
  src/pages/Login.js
  src/pages/PageA.js
  src/pages/PageB.js
  src/pages/PageC.js
Labels: none

로그인 페이지 제외 나머지 완성
  wanted-pre-onboarding/.gitignore
  wanted-pre-onboarding/README.md
  wanted-pre-onboarding/package-lock.json
  wanted-pre-onboarding/package.json
  wanted-pre-onboarding/public/favicon.ico
  wanted-pre-onboarding/public/index.html
  wanted-pre-onboarding/public/logo192.png
  wanted-pre-onboarding/public/logo512.png
  wanted-pre-onboarding/public/manifest.json
  wanted-pre-onboarding/public/robots.txt
  wanted-pre-onboarding/src/App.tsx
  wanted-pre-onboarding/src/components/common/header/index.tsx
  wanted-pre-onboarding/src/components/common/header/styled.ts
  wanted-pre-onboarding/src/components/common/sidebar/index.tsx
  wanted-pre-onboarding/src/components/common/sidebar/style.ts
  wanted-pre-onboarding/src/components/layout/index.tsx
  wanted-pre-onboarding/src/components/layout/page/index.tsx
  wanted-pre-onboarding/src/components/layout/page/style.ts
  wanted-pre-onboarding/src/components/layout/style.ts
  wanted-pre-onboarding/src/components/main/index.tsx
  wanted-pre-onboarding/src/components/main/styled.ts
  wanted-pre-onboarding/src/components/pageDetail/pageA/index.tsx
  wanted-pre-onboarding/src/components/pageDetail/pageA/style.ts
  wanted-pre-onboarding/src/components/pageDetail/pageB/index.tsx
  wanted-pre-onboarding/src/components/pageDetail/pageB/style.ts
  wanted-pre-onboarding/src/components/pageDetail/pageC/index.tsx
  wanted-pre-onboarding/src/components/pageDetail/pageC/style.ts
  wanted-pre-onboarding/src/index.tsx
  wanted-pre-onboarding/src/pages/MainPage.tsx
  wanted-pre-onboarding/src/pages/pageDetail/PageADetailPage.tsx
  wanted-pre-onboarding/src/pages/pageDetail/PageBDetailPage.tsx
  wanted-pre-onboarding/src/pages/pageDetail/PageCDetailPage.tsx
  wanted-pre-onboarding/src/react-app-env.d.ts
  wanted-pre-onboarding/src/shared/style.tsx
  wanted-pre-onboarding/tsconfig.json
  wanted-pre-onboarding/yarn.lock
Labels: docs

setting : vue + typescript
  vt-challenge/.gitignore
  vt-challenge/README.md
  vt-challenge/babel.config.js
  vt-challenge/jsconfig.json
  vt-challenge/package.json
  vt-challenge/public/favicon.ico
  vt-challenge/public/index.html
  vt-challenge/src/App.vue
  vt-challenge/src/assets/logo.png
  vt-challenge/src/components/HelloWorld.vue
  vt-challenge/src/main.ts
  vt-challenge/src/shims-vue.d.ts
  vt-challenge/tsconfig.json
  vt-challenge/vue.config.js
  vt-challenge/yarn.lock
Labels: docs

delete default content
  vt-challenge/babel.config.js
  vt-challenge/jsconfig.json
  vt-challenge/src/App.vue
  vt-challenge/src/assets/logo.png
  vt-challenge/src/components/HelloWorld.vue
  vt-challenge/vue.config.js
Labels: none

심각한 문제가 있다... login이 계속 무한으로 불러와진다.... 왜그럴까???
  .eslintcache
  .eslintrc
  package-lock.json
  package.json
  src/App.tsx
  src/Components/Layouts/MainLayout.tsx
  src/Context/AuthContextProvider.tsx
  src/Pages/Login.tsx
  src/Pages/Logout.tsx
  src/Pages/PageA.tsx
  src/Pages/PageB.tsx
  src/Pages/PageC.tsx
  src/Pages/index.ts
  src/Routers/PrivateRoutes.tsx
  src/Routers/Router.tsx
  src/Routers/index.ts
  src/Routers/routes.tsx
  src/Service/LoginService.ts
  src/constants/constant.ts
  src/main.tsx
  src/styles/GlobalStyle.tsx
  tsconfig.json
  vite.config.ts
Labels: style

fixed untracked files
  .eslintcache
  .gitignore
Labels: none

install react with vite, typescript
  .gitignore
  index.html
  package-lock.json
  package.json
  public/vite.svg
  src/App.css
  src/App.tsx
  src/assets/react.svg
  src/index.css
  src/main.tsx
  src/vite-env.d.ts
  tsconfig.json
  tsconfig.node.json
  vite.config.ts
Labels: none

Install and config tailwind, react-router-dom
  index.html
  package-lock.json
  package.json
  postcss.config.cjs
  src/App.css
  src/App.tsx
  src/assets/react.svg
  src/index.css
  tailwind.config.cjs
Labels: none

Config Layout, route structure
  package-lock.json
  package.json
  src/App.tsx
  src/components/Header.tsx
  src/components/Sidebar.tsx
  src/main.tsx
  src/routes/ErrorPage.tsx
  src/routes/main/Home.tsx
  src/routes/main/PageA.tsx
  src/routes/main/PageB.tsx
  src/routes/main/PageC.tsx
Labels: none

rayout done
  client/.gitignore
  client/package-lock.json
  client/package.json
  client/public/favicon.ico
  client/public/index.html
  client/src/App.tsx
  client/src/components/layout/Header.tsx
  client/src/components/layout/Layout.tsx
  client/src/components/layout/Sidebar.tsx
  client/src/index.tsx
  client/src/pages/Apage.tsx
  client/src/pages/Bpage.tsx
  client/src/pages/Cpage.tsx
  client/src/router/AppRouter.tsx
  client/tsconfig.json
Labels: none

사전과제
  pre-onboarding/.gitignore
  pre-onboarding/package-lock.json
  pre-onboarding/package.json
  pre-onboarding/public/index.html
  pre-onboarding/public/manifest.json
  pre-onboarding/public/robots.txt
  pre-onboarding/src/App.js
  pre-onboarding/src/components/Header.js
  pre-onboarding/src/components/Side.js
  pre-onboarding/src/index.js
  pre-onboarding/src/routes/Main.js
  pre-onboarding/src/routes/PageA.js
  pre-onboarding/src/routes/PageB.js
  pre-onboarding/src/routes/PageC.js
Labels: none

Complete base + login
  src/App.tsx
  src/components/Header.tsx
  src/components/Login.tsx
  src/components/Sidebar.tsx
  src/index.css
  src/main.tsx
  src/router.tsx
  src/routes/ErrorPage.tsx
  src/routes/main/Home.tsx
  src/routes/main/PageA.tsx
  src/routes/main/PageB.tsx
  src/routes/main/PageC.tsx
  src/utils/common.ts
Labels: none

최종완료
  client/src/App.tsx
  client/src/components/layout/Header.tsx
  client/src/components/layout/Layout.tsx
  client/src/hooks/useIsLogin.tsx
  client/src/index.tsx
  client/src/pages/Apage.tsx
  client/src/pages/Bpage.tsx
  client/src/pages/Cpage.tsx
  client/src/pages/Login.tsx
  client/src/router/AppRouter.tsx
Labels: none

Update to Master
  fequest/.gitignore
  fequest/README.md
  fequest/package-lock.json
  fequest/package.json
  fequest/public/index.html
  fequest/public/manifest.json
  fequest/public/robots.txt
  fequest/src/App.css
  fequest/src/App.js
  fequest/src/assets/wantedLogo.png
  fequest/src/components/Header.js
  fequest/src/components/Home.js
  fequest/src/components/Sidebar.js
  fequest/src/index.css
  fequest/src/index.js
  fequest/src/pages/Login.js
  fequest/src/pages/PageA.js
  fequest/src/pages/PageB.js
  fequest/src/pages/PageC.js
  fequest/src/reportWebVitals.js
  fequest/src/setupTests.js
Labels: docs

first commit
  .gitignore
  package.json
  public/favicon.ico
  public/index.html
  public/logo192.png
  public/logo512.png
  public/manifest.json
  public/robots.txt
  src/App.css
  src/App.js
  src/App.test.js
  src/index.css
  src/index.js
  src/logo.svg
  src/reportWebVitals.js
  src/setupTests.js
  yarn.lock
Labels: test: unit

cra project init
  wanted-pre-onboarding-fe-login/.gitignore
  wanted-pre-onboarding-fe-login/README.md
  wanted-pre-onboarding-fe-login/package-lock.json
  wanted-pre-onboarding-fe-login/package.json
  wanted-pre-onboarding-fe-login/public/favicon.ico
  wanted-pre-onboarding-fe-login/public/index.html
  wanted-pre-onboarding-fe-login/public/logo192.png
  wanted-pre-onboarding-fe-login/public/logo512.png
  wanted-pre-onboarding-fe-login/public/manifest.json
  wanted-pre-onboarding-fe-login/public/robots.txt
Labels: docs

프리온보딩 프론트엔드 사전과제
  wanted-pre-onboarding-fe-login/src/App.jsx
  wanted-pre-onboarding-fe-login/src/components/common/Header.jsx
  wanted-pre-onboarding-fe-login/src/components/common/Side.jsx
  wanted-pre-onboarding-fe-login/src/constants/common.jsx
  wanted-pre-onboarding-fe-login/src/index.css
  wanted-pre-onboarding-fe-login/src/index.jsx
  wanted-pre-onboarding-fe-login/src/layout/Layout.jsx
  wanted-pre-onboarding-fe-login/src/pages/ArticlePageA.jsx
  wanted-pre-onboarding-fe-login/src/pages/ArticlePageB.jsx
  wanted-pre-onboarding-fe-login/src/pages/ArticlePageC.jsx
Labels: none

dynamic router 구현 실패 ㅜㅠ
  src/Components/Layouts/MainLayout.tsx
  src/Routers/PrivateRoutes.tsx
  src/Routers/Router.tsx
  src/Routers/routes.tsx
Labels: none

Update: Sidebar.js
  fequest/src/components/Sidebar.js
Labels: none

Update: pages font-weight
  fequest/src/pages/PageA.js
  fequest/src/pages/PageB.js
  fequest/src/pages/PageC.js
Labels: none

Update: Header Title
  fequest/src/components/Header.js
Labels: none

리액트 설치
  .gitignore
  package-lock.json
  package.json
  public/favicon.ico
  public/index.html
  public/logo192.png
  public/logo512.png
  public/manifest.json
  public/robots.txt
  src/App.css
  src/App.js
  src/App.test.js
  src/index.css
  src/index.js
  src/logo.svg
  src/reportWebVitals.js
  src/setupTests.js
Labels: test: unit

router-dom 설치, 헤더 사이드바 생성
  package-lock.json
  package.json
  src/App.css
  src/App.js
  src/App.test.js
  src/components/Header.js
  src/components/Sidebar.js
  src/pages/PageA.js
  src/pages/PageB.js
  src/pages/PageC.js
Labels: test: unit

test
  App.js
Labels: none

Add: wanted-pre-onboarding-3-fe-quest
  .eslintrc.json
  .gitignore
  .prettierrc
  package.json
  public/index.html
  public/manifest.json
  src/App.tsx
  src/components/atoms/Content/index.tsx
  src/components/atoms/SidebarContent/index.tsx
  src/components/molecules/Header/index.tsx
  src/components/molecules/Sidebar/index.tsx
  src/components/molecules/index.ts
  src/components/template/Layout/index.tsx
  src/db/data.json
  src/index.tsx
  src/pages/Main/index.tsx
  src/react-app-env.d.ts
  src/reportWebVitals.ts
  src/setupTests.ts
  src/styles/GlobalStyle.ts
  src/styles/colors.ts
  src/styles/index.ts
  src/types/data.ts
  tsconfig.json
  yarn.lock
Labels: style

feat: CRA, 기초 UI 작업
  wpreact/.gitignore
  wpreact/README.md
  wpreact/package-lock.json
  wpreact/package.json
  wpreact/public/favicon.ico
  wpreact/public/index.html
  wpreact/public/logo192.png
  wpreact/public/logo512.png
  wpreact/public/manifest.json
  wpreact/public/robots.txt
  wpreact/src/App.js
  wpreact/src/App.test.js
  wpreact/src/components/Body/Body.js
  wpreact/src/components/Footer/Footer.js
  wpreact/src/components/Header/Header.js
  wpreact/src/components/User/Login.js
  wpreact/src/index.css
  wpreact/src/index.js
  wpreact/src/logo.svg
  wpreact/src/reportWebVitals.js
  wpreact/src/setupTests.js
Labels: docs
