Repository blueStragglr/wanted-pre-onboarding-3-FE-quest, changes with the labels that .github/labeler.yml gives for each.
All labels: workflow, ci, style, test: e2e, test: unit, docs

.github/labeler.yml:

workflow:
  - .github/workflows/*

ci:
  - .github/workflows/ci.yml

style:
  - src/styles/*
  - src/styles/**/*

'test: e2e':
  - cypress/e2e/*
  - cypress/e2e/**/*

'test: unit':
  - src/**/*.test.{js,jsx,ts,tsx}
  - src/test/*
  - src/test/**/*

docs:
  - '*.md'
  - '**/*.md'

💄 Make SideNavigation UI
  package-lock.json
  package.json
  public/index.html
  public/manifest.json
  src/components/Navigation/SideNavigation/index.tsx
  src/components/Navigation/SideNavigation/styled.ts
  src/index.js
  src/pages/page1/index.tsx
  src/pages/page2/index.tsx
  src/pages/page3/index.tsx
  src/styles/GlobalStyle.tsx
  tsconfig.json
Labels: style

💄 Make TopNavigation UI
  src/components/Navigation/SideNavigation/styled.ts
  src/components/Navigation/TopNavigation/index.tsx
  src/components/Navigation/TopNavigation/styled.ts
  src/pages/page1/index.tsx
  src/pages/page2/index.tsx
  src/pages/page3/index.tsx
Labels: none

💄 Edit pages styles
  src/pages/page1/index.tsx
  src/pages/page1/styled.ts
  src/pages/page2/index.tsx
  src/pages/page2/styled.ts
  src/pages/page3/index.tsx
  src/pages/page3/styled.ts
Labels: none

💄 Make loginpage UI
  src/pages/login/index.tsx
  src/pages/login/styled.ts
Labels: none

react 설치 및 세팅
  wanted_login/.gitignore
  wanted_login/README.md
  wanted_login/package-lock.json
  wanted_login/package.json
  wanted_login/public/favicon.ico
  wanted_login/public/index.html
  wanted_login/public/logo192.png
  wanted_login/public/logo512.png
  wanted_login/public/manifest.json
  wanted_login/public/robots.txt
  wanted_login/sample.jpg
  wanted_login/src/App.js
  wanted_login/src/index.js
Labels: docs

SignIn page 및 이동 버튼 추가
  client/src/components/Header.js
  client/src/components/form/SignInForm.js
  client/src/layouts/ContainerLayout.js
  client/src/pages/SignIn.js
Labels: none

RootBoundary 경로 변경
  client/src/App.js
  client/src/components/error/RootBoundary.js
Labels: none

router NavLink active 스타일 적용
  client/src/components/SideBar.js
Labels: none

feat: 사전 과제 제출
  pre/.gitignore
  pre/README.md
  pre/package-lock.json
  pre/package.json
  pre/public/favicon.ico
  pre/public/index.html
  pre/public/logo192.png
  pre/public/logo512.png
  pre/public/manifest.json
  pre/public/robots.txt
  pre/src/App.css
  pre/src/App.js
  pre/src/components/Contents.jsx
  pre/src/components/Header.jsx
  pre/src/components/Layout.jsx
  pre/src/components/Login/Login.jsx
  pre/src/components/Login/Modal.jsx
  pre/src/components/Sidebar.jsx
  pre/src/index.css
  pre/src/index.js
  pre/src/pages/PageA.jsx
  pre/src/pages/PageB.jsx
  pre/src/pages/PageC.jsx
Labels: docs

feat: initial commit
  .gitignore
  .prettierrc.yml
  README.md
  checklist.md
  index.html
  package.json
  pnpm-lock.yaml
  public/vite.svg
  src/App.css
  src/App.tsx
  src/assets/react.svg
  src/index.css
  src/main.tsx
  src/vite-env.d.ts
  tsconfig.json
  tsconfig.node.json
  vite.config.ts
Labels: docs

feat: editing contacts
  package.json
  pnpm-lock.yaml
  src/App.css
  src/App.tsx
  src/ErrorPage.tsx
  src/contacts.ts
  src/global.d.ts
  src/routes/Contact.tsx
  src/routes/EditContect.tsx
  src/routes/Root.tsx
Labels: none

feat: navbar
  src/routes/Root.tsx
Labels: none

refactor: split new contact button
  src/routes/Root.tsx
Labels: none

feat: loading css
  src/routes/Root.tsx
Labels: none

feat: delete contact
  src/App.tsx
  src/routes/destroy.tsx
Labels: none

feat: give random profile image
  src/contacts.ts
Labels: none

fix: recover when deleting contact fails
  src/App.tsx
Labels: none

feat: index page
  src/App.tsx
  src/routes/Index.tsx
Labels: none

feat: cancel editing contact
  src/routes/EditContect.tsx
Labels: none

feat: search
  src/routes/EditContect.tsx
  src/routes/Root.tsx
Labels: none

feat: 기본 틀 구현 완료
  challenge/.gitignore
  challenge/README.md
  challenge/package-lock.json
  challenge/package.json
  challenge/public/favicon.ico
  challenge/public/index.html
  challenge/public/logo192.png
  challenge/public/logo512.png
  challenge/public/manifest.json
  challenge/public/robots.txt
  challenge/src/App.css
  challenge/src/App.js
  challenge/src/App.test.js
  challenge/src/components/Header.jsx
  challenge/src/components/NavButton.jsx
  challenge/src/components/SideBar.jsx
  challenge/src/index.css
  challenge/src/index.js
  challenge/src/logo.svg
  challenge/src/pages/Layout.jsx
  challenge/src/pages/PageA.jsx
  challenge/src/pages/PageB.jsx
  challenge/src/pages/PageC.jsx
  challenge/src/reportWebVitals.js
  challenge/src/setupTests.js
Labels: docs

react-router 설치
  client/package.json
  client/yarn.lock
Labels: none

feat: 로그인 페이지 틀 구현
  challenge/src/App.js
  challenge/src/components/Header.jsx
  challenge/src/components/LoginForm.jsx
  challenge/src/pages/Login.jsx
Labels: none

set
  client/.gitignore
  client/README.md
  client/package-lock.json
  client/package.json
  client/public/favicon.ico
  client/public/index.html
  client/public/logo192.png
  client/public/logo512.png
  client/public/manifest.json
  client/public/robots.txt
  client/src/App.css
  client/src/App.js
  client/src/App.test.js
  client/src/index.css
  client/src/index.js
  client/src/logo.svg
  client/src/reportWebVitals.js
  client/src/setupTests.js
Labels: docs

feat: header 기능 및 디자인
  src/components/header/Header.style.ts
  src/components/header/Header.tsx
Labels: none

feat: sidebar 기능 및 디자인
  src/components/sidebar/Sidebar.style.ts
  src/components/sidebar/Sidebar.tsx
Labels: none

data: sidebar 목록 추가
  src/data/sidebar.ts
Labels: none

feat: 각각 페이지 구현 및 디자인
  src/layouts/pages/MainPage.tsx
  src/layouts/pages/PageALayout.tsx
  src/layouts/pages/PageBLayout.tsx
  src/layouts/pages/PageCLayout.tsx
  src/layouts/pages/Pages.style.ts
  src/pages/PageA.tsx
  src/pages/PageB.tsx
  src/pages/PageC.tsx
Labels: none

feat: layout 구성
  src/layouts/layout/layout.style.ts
  src/layouts/layout/layout.tsx
Labels: none

feat: route 지정
  src/App.tsx
Labels: none

feat: package 추가 및 configuration options 추가
  package-lock.json
  package.json
  tsconfig.json
Labels: none

header
  package-lock.json
  package.json
  src/App.js
  src/App.test.js
  src/bootstrap.min.css
  src/components/Content.js
  src/components/Header.js
  src/components/Layout.js
  src/components/Sidebar.js
  src/index.css
  src/index.js
  src/page/Home.js
  src/page/PageA.js
  src/pages/PageA.js
  src/pages/PageB.js
Labels: test: unit

frontend 사전과제 업로드
  .gitignore
  README.md
  package-lock.json
  package.json
  public/favicon.ico
  public/index.html
  public/logo192.png
  public/logo512.png
  public/manifest.json
  public/robots.txt
  sample.jpg
  src/App.js
  src/component/Header.jsx
  src/component/Layout.jsx
  src/component/Sidebar.jsx
  src/index.css
  src/index.js
  src/pages/Page1.jsx
  src/pages/Page2.jsx
  src/pages/Page3.jsx
  src/pages/PageStyle.js
  src/reportWebVitals.js
  src/setupTests.js
Labels: docs

wanted frontend onboarding 사전과제 완료
  wanted-onboarding-project/.gitignore
  wanted-onboarding-project/README.md
  wanted-onboarding-project/package-lock.json
  wanted-onboarding-project/package.json
  wanted-onboarding-project/public/favicon.ico
  wanted-onboarding-project/public/index.html
  wanted-onboarding-project/public/logo192.png
  wanted-onboarding-project/public/logo512.png
  wanted-onboarding-project/public/manifest.json
  wanted-onboarding-project/public/robots.txt
  wanted-onboarding-project/src/App.css
  wanted-onboarding-project/src/App.js
  wanted-onboarding-project/src/App.test.js
  wanted-onboarding-project/src/components/Header.jsx
  wanted-onboarding-project/src/components/SideBar.jsx
  wanted-onboarding-project/src/index.css
  wanted-onboarding-project/src/index.js
  wanted-onboarding-project/src/pages/PageA.jsx
  wanted-onboarding-project/src/pages/PageB.jsx
  wanted-onboarding-project/src/pages/PageC.jsx
  wanted-onboarding-project/src/setupTests.js
Labels: docs

feat: Initialize React app with create-react-app and delete unnecessary files
  .gitignore
  package-lock.json
  package.json
  public/index.html
  src/App.js
  src/index.js
Labels: none

230225 사전 과제
  login/.gitignore
  login/README.md
  login/package-lock.json
  login/package.json
  login/public/favicon.ico
  login/public/index.html
  login/public/logo192.png
  login/public/logo512.png
  login/public/manifest.json
  login/public/robots.txt
  login/src/App.tsx
  login/src/component/Common/Header.tsx
  login/src/component/Common/Nav.tsx
  login/src/component/Common/Navigation.tsx
  login/src/component/Page/Login.tsx
  login/src/component/Page/Page1.tsx
  login/src/component/Page/Page2.tsx
  login/src/component/Page/Page3.tsx
  login/src/component/Page/Page4.tsx
  login/src/index.tsx
  login/src/routes/AppRouter.tsx
  login/src/style/App.css
  login/src/style/index.css
  login/tsconfig.json
Labels: docs

230225 사전과제 리드미
  login/README.md
Labels: docs

230225 사전과제 리드미
  README.md
  img/230225_img1.png
  img/230225_img2.png
  img/230225_img3.png
Labels: docs

Update README.md
  README.md
Labels: docs

feat: Layout 개발
  wpreact/package-lock.json
  wpreact/package.json
  wpreact/src/App.css
  wpreact/src/App.js
  wpreact/src/components/Footer/Footer.js
  wpreact/src/components/Main/Main.js
  wpreact/src/components/Pages/Page1.js
  wpreact/src/components/Pages/Page2.js
  wpreact/src/components/Pages/Page3.js
  wpreact/src/components/User/Login.js
Labels: none
