Repository blueStragglr/wanted-pre-onboarding-3-FE-quest, changes with the labels that .github/labeler.yml gives for each.
All labels: workflow, ci, style, test: e2e, test: unit, docs

Update README.md
  wpreact/README.md
Labels: docs

Update README.md
  wpreact/README.md
Labels: docs

fix: 라우터 설정
  wpreact/src/components/Body/Body.js
  wpreact/src/components/Body/Page1.js
  wpreact/src/components/Body/Page2.js
  wpreact/src/components/Body/Page3.js
  wpreact/src/components/Header/Header.js
  wpreact/src/components/Routers/Router.js
Labels: none

fix: app.js 테스트 삭제
  App.js
Labels: none

Update: Login and Logout
  fequest/public/index.html
  fequest/src/components/Header.js
  fequest/src/pages/Login.js
Labels: none

commit
  wanted-project/.gitignore
  wanted-project/README.md
  wanted-project/package-lock.json
  wanted-project/package.json
  wanted-project/public/favicon.ico
  wanted-project/public/index.html
  wanted-project/src/App.css
  wanted-project/src/App.js
  wanted-project/src/components/Layout/Auth.js
  wanted-project/src/components/Layout/Header.css
  wanted-project/src/components/Layout/Header.js
  wanted-project/src/components/Layout/Layout.js
  wanted-project/src/components/Layout/Sidebar.css
  wanted-project/src/components/Layout/Sidebar.js
  wanted-project/src/db/data.json
  wanted-project/src/index.js
  wanted-project/src/pages/Apage.js
  wanted-project/src/pages/Bpage.js
  wanted-project/src/pages/Cpage.js
  wanted-project/src/pages/Login.js
  wanted-project/src/pages/page.css
Labels: docs

프리온보딩 사전과제 파일 생성
  .gitignore
  package-lock.json
  package.json
  public/favicon.ico
  public/index.html
  public/logo192.png
  public/logo512.png
  public/manifest.json
  public/robots.txt
  src/App.test.js
  src/App.tsx
  src/components/Header.tsx
  src/components/Layout.tsx
  src/components/LoginCheck.tsx
  src/components/Sidebar.tsx
  src/index.css
  src/index.tsx
  src/logo.svg
  src/main.css
  src/reportWebVitals.js
  src/setupTests.js
  src/utils/Routes.tsx
  src/views/Login.tsx
  src/views/Main.tsx
  src/views/NotFound.tsx
  src/views/pages/PageA.tsx
  src/views/pages/PageB.tsx
  src/views/pages/PageC.tsx
  tailwind.config.js
  tsconfig.json
Labels: test: unit

레이아웃 구성, 로그인 화면
  package.json
  public/favicon.ico
  public/index.html
  public/logo192.png
  public/logo512.png
  public/manifest.json
  public/robots.txt
  src/App.css
  src/App.js
  src/App.jsx
  src/App.test.js
  src/components/common/Button.jsx
  src/components/common/LoginBtn.jsx
  src/components/layouts/AsideLeft.jsx
  src/components/layouts/Header.jsx
  src/components/layouts/Layout.jsx
  src/components/pages/Apage.jsx
  src/components/pages/Bpage.jsx
  src/components/pages/Cpage.jsx
  src/components/pages/Dpage.jsx
  src/components/pages/Login.jsx
  src/components/styles/page.css
  src/components/styles/reset.css
  src/index.css
  src/index.js
  src/logo.svg
  src/reportWebVitals.js
  src/setupTests.js
  yarn.lock
Labels: test: unit

feat: router 개발 중
  wpreact/src/components/Body/Body.js
  wpreact/src/components/Header/Header.js
  wpreact/src/components/Routers/Router.js
Labels: none

creacte reactApp
  challenge/.gitignore
  challenge/README.md
  challenge/package-lock.json
  challenge/package.json
  challenge/public/favicon.ico
  challenge/public/index.html
  challenge/public/logo192.png
  challenge/public/logo512.png
  challenge/public/manifest.json
  challenge/public/robots.txt
  challenge/src/App.css
  challenge/src/App.js
  challenge/src/App.test.js
  challenge/src/index.css
  challenge/src/index.js
  challenge/src/logo.svg
  challenge/src/reportWebVitals.js
  challenge/src/setupTests.js
Labels: docs

사전과제 : set layout
  vt-challenge/package.json
  vt-challenge/public/index.html
  vt-challenge/src/App.vue
  vt-challenge/src/assets/app.scss
  vt-challenge/src/assets/global.scss
  vt-challenge/src/assets/page.scss
  vt-challenge/src/components/HelloWorld.vue
  vt-challenge/src/components/Page.vue
  vt-challenge/src/main.ts
  vt-challenge/src/router/index.ts
  vt-challenge/src/views/PageAView.vue
  vt-challenge/src/views/PageBView.vue
  vt-challenge/src/views/PageCView.vue
  vt-challenge/tsconfig.json
  vt-challenge/yarn.lock
Labels: none

파일변경
  wpreact/README.md
  wpreact/package-lock.json
  wpreact/package.json
  wpreact/public/index.html
  wpreact/src/App.css
  wpreact/src/App.js
  wpreact/src/components/Body/Body.js
  wpreact/src/components/Body/Page1.js
  wpreact/src/components/Body/Page2.js
  wpreact/src/components/Body/Page3.js
  wpreact/src/components/Footer/Footer.js
  wpreact/src/components/Header/Header.js
  wpreact/src/components/User/Login.js
Labels: docs

test
  wpreact/src/App.js
  wpreact/src/components/Home/Home.js
  wpreact/src/index.js
Labels: none

🎉 init cra project
  .gitignore
  package-lock.json
  package.json
  public/favicon.ico
  public/index.html
  public/logo192.png
  public/logo512.png
  public/manifest.json
  public/robots.txt
  src/App.css
  src/App.js
  src/App.test.js
  src/index.css
  src/index.js
  src/logo.svg
  src/reportWebVitals.js
  src/setupTests.js
Labels: test: unit

CRA, react-router, styled-componet
  .gitignore
  README.md
  package.json
  public/favicon.ico
  public/index.html
  public/logo192.png
  public/logo512.png
  public/manifest.json
  public/robots.txt
  src/App.css
  src/index.css
  src/logo.svg
  src/react-app-env.d.ts
  src/reportWebVitals.ts
  src/setupTests.ts
  tsconfig.json
Labels: docs

router 설정
  src/Page/PageA.tsx
  src/Page/PageB.tsx
  src/Page/PageC.tsx
  src/index.tsx
  src/router.tsx
Labels: none

link 연결
  src/App.tsx
  src/index.tsx
Labels: none

✨ Project basic setting
  .gitignore
  package-lock.json
  package.json
  public/index.html
  public/manifest.json
  public/robots.txt
  src/App.js
  src/components/Navigation/SideNavigation/index.tsx
  src/components/Navigation/SideNavigation/styled.ts
  src/components/Navigation/TopNavigation/index.tsx
  src/components/Navigation/TopNavigation/styled.ts
  src/index.js
  src/pages/login/index.tsx
  src/pages/login/styled.ts
  src/pages/page1/index.tsx
  src/pages/page1/styled.ts
  src/pages/page2/index.tsx
  src/pages/page2/styled.ts
  src/pages/page3/index.tsx
  src/pages/page3/styled.ts
Labels: none

first commit
  .DS_Store
  .gitignore
  README.md
  package-lock.json
  package.json
  public/favicon.ico
  public/index.html
  public/logo192.png
  public/logo512.png
  public/manifest.json
  public/robots.txt
  src/.DS_Store
  src/App.css
  src/App.test.tsx
  src/App.tsx
  src/components/.DS_Store
  src/components/common/Button.tsx
  src/components/layout/Header.tsx
  src/components/layout/Layout.tsx
  src/components/layout/Sidebar.tsx
  src/components/pages/A.tsx
  src/components/pages/B.tsx
  src/components/pages/C.tsx
  src/components/pages/Login.tsx
  src/components/pages/Register.tsx
  src/components/router/Router.tsx
  src/index.css
  src/index.tsx
  src/logo.svg
  src/react-app-env.d.ts
  src/reportWebVitals.ts
  src/setupTests.ts
  src/styles/form.ts
  src/styles/page.ts
  tsconfig.json
Labels: style, test: unit, docs

fix: router 수정중
  wpreact/src/App.js
Labels: none

CRA
  client/.gitignore
  client/README.md
  client/package.json
  client/public/favicon.ico
  client/public/index.html
  client/public/manifest.json
  client/public/robots.txt
  client/src/App.css
  client/src/App.js
  client/src/App.test.js
  client/src/index.css
  client/src/index.js
  client/src/reportWebVitals.js
  client/src/setupTests.js
  client/yarn.lock
Labels: docs

settings & Feat: page routes
  .gitignore
  .prettierrc.json
  index.html
  package-lock.json
  package.json
  public/vite.svg
  src/App.tsx
  src/assets/react.svg
  src/components/Header/index.tsx
  src/components/Layout/index.tsx
  src/components/SideBar/index.tsx
  src/main.tsx
  src/pages/pageA/index.tsx
  src/pages/pageB/index.tsx
  src/pages/pageC/index.tsx
  src/router.tsx
  src/style/GlobalStyle.ts
  src/vite-env.d.ts
  tsconfig.json
  tsconfig.node.json
  vite.config.ts
Labels: none

rest.css, styled-component, react-router-dom 패키지 추가
  client/package.json
  client/public/manifest.json
  client/src/assets/styles/reset.css
  client/yarn.lock
Labels: none

layout
  .gitignore
  README.old.md
  package-lock.json
  package.json
  public/index.html
  public/manifest.json
  public/robots.txt
  sample.jpg
  src/App.js
  src/App.test.js
  src/index.css
  src/index.js
  src/page/Home.js
  src/page/PageA.js
  src/reportWebVitals.js
  src/setupTests.js
Labels: test: unit, docs

MainLayout 및 관련 페이지, 컴포넌트 추가
  client/src/components/Header.js
  client/src/components/SideBar.js
  client/src/layouts/MainLayout.js
  client/src/pages/Main.js
  client/src/pages/Page.js
  client/src/pages/SignIn.js
Labels: none

라우터 기본 설정
  client/public/index.html
  client/src/App.css
  client/src/App.js
  client/src/components/RootBoundary.js
Labels: none

사이드바 Link 리스트 추가
  client/src/components/SideBar.js
Labels: none

init project
  .gitignore
  index.html
  package-lock.json
  package.json
  src/App.tsx
  src/components/Header.module.css
  src/components/Header.tsx
  src/components/PageLayout.module.css
  src/components/PageLayout.tsx
  src/components/RootLayout.module.css
  src/components/RootLayout.tsx
  src/components/SideBar.module.css
  src/components/SideBar.tsx
  src/index.css
  src/main.tsx
  src/routes/index.tsx
  src/routes/page-a.tsx
  src/routes/page-b.tsx
  src/routes/page-c.tsx
  src/vite-env.d.ts
  tsconfig.json
  tsconfig.node.json
  vite.config.ts
Labels: none

add fake login
  src/App.tsx
  src/context/auth.tsx
  src/model/user.ts
  src/routes/login.module.css
  src/routes/login.tsx
  src/routes/page-d.tsx
Labels: none

styling
  src/App.tsx
  src/Page/PageA.tsx
  src/Page/PageB.tsx
  src/Page/PageC.tsx
Labels: none

사전과제 완료
  .gitignore
  package-lock.json
  package.json
  public/index.html
  src/App.css
  src/App.js
  src/Router/Router.jsx
  src/components/Aside.jsx
  src/components/Header.jsx
  src/components/Layout.jsx
  src/components/Page.jsx
  src/index.js
  src/pages/Login.jsx
Labels: none

해당 페이지 링크 색상 변경
  src/App.tsx
Labels: none

login
  package.json
  src/App.tsx
  src/Home.tsx
  src/Login.tsx
  src/index.tsx
  src/store/store.ts
Labels: none

readme
  README.md
Labels: docs

과제완료
  challenge/src/pages/Main.js
Labels: none

과제완료
  challenge/package-lock.json
  challenge/package.json
  challenge/src/App.css
  challenge/src/App.js
  challenge/src/components/Header.js
  challenge/src/components/RoutesContainer.js
  challenge/src/components/SideNav.js
  challenge/src/index.js
  challenge/src/logo.svg
  challenge/src/pages/Login.js
  challenge/src/pages/PageA.js
  challenge/src/pages/PageB.js
  challenge/src/pages/PageC.js
Labels: none

사이드바, 로그인페이지 완성
  src/App.css
  src/App.js
  src/components/Header.js
  src/components/Sidebar.js
  src/index.css
  src/pages/Login.js
  src/pages/PageA.js
  src/pages/PageB.js
  src/pages/PageC.js
Labels: none

init: Initialize new React project
  .gitignore
  README.md
  package-lock.json
  package.json
  public/favicon.ico
  public/index.html
  public/logo192.png
  public/logo512.png
  public/manifest.json
  public/robots.txt
  src/App.css
  src/App.test.tsx
  src/App.tsx
  src/index.css
  src/index.tsx
  src/logo.svg
  src/react-app-env.d.ts
  src/reportWebVitals.ts
  src/setupTests.ts
  tsconfig.json
Labels: test: unit, docs

upload
  .gitignore
  README.md
  package-lock.json
  package.json
  public/favicon.ico
  public/index.html
  public/logo192.png
  public/logo512.png
  public/manifest.json
  public/robots.txt
  src/App.js
  src/App.test.js
  src/component/Layout.js
  src/component/Login/Login.js
  src/component/Nav/Header.js
  src/component/Nav/SideBar.js
  src/component/Page/Page.js
  src/component/Page/PageA.js
  src/component/Page/PageB.js
  src/component/Page/PageC.js
  src/index.css
  src/index.js
  src/logo.svg
  src/reportWebVitals.js
  src/setupTests.js
  tailwind.config.js
Labels: test: unit, docs

로그아웃 버튼 추가, 로컬스토리지 데이터 저장
  src/components/common/Button.jsx
  src/components/common/LoginBtn.jsx
  src/components/layouts/Header.jsx
  src/components/pages/Login.jsx
Labels: none

.github/labeler.yml:

workflow:
  - .github/workflows/*

ci:
  - .github/workflows/ci.yml

style:
  - src/styles/*
  - src/styles/**/*

'test: e2e':
  - cypress/e2e/*
  - cypress/e2e/**/*

'test: unit':
  - src/**/*.test.{js,jsx,ts,tsx}
  - src/test/*
  - src/test/**/*

docs:
  - '*.md'
  - '**/*.md'
